/* 
  配置规则：
    1. 各主题配色变量名必须保持一致
    2. 变量命名规则：
      1) --primary: 主配色，通常用于多个页面；
      2) --页面名：该页面适用配色；
      3) --页面名-bg：页面背景图；
      4) --页面名-ic：页面图标。
*/
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

/* 各页面container统一样式 */
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

.container-bgcolor {
  background: var(--primary-theme-skyblue);
}

/* 各页面head统一样式 */
.head {
  margin: auto 0.4rem;
  display: flex;
  align-items: center;
  justify-items: center;
}

.head-height {
  height: 6%;
}

.header {
  color: var(--primary-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem;
  height: 3.2rem;
  background: var(--primary-theme-skyblue);

}

/* 各页面content统一样式 */
.content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* 隐藏默认的滚动条样式 */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.content::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

.content-height {
  height: calc(100vh - 1.1rem);
}

/* 文字颜色 */
.text-color {
  color: var(--primary-text);
}

/* switch开关颜色定义 */
.el-switch__core {
  --el-switch-on-color: var(--primary-text);
  --el-switch-off-color: var(--primary-text);
}

.el-switch__core i {
  color: #ffcc00;
}

/* el-header app.vue中*/
.el-header {
  background: var(--primary-theme-blue);
  height: auto;
}

.el-header .el-form {
  text-align: center;
}

.el-header .el-form-item__label {
  color: var(--primary-text);
  font-weight: 550;
  font-size: 1rem;
}

.el-header .el-form-item {
  margin: 0.4rem 1.8rem;
}

.el-header .el-button {
  background: transparent;
  border: none;
}

.el-header .el-icon {
  color: var(--primary-text);
}

.el-main {
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  /* 隐藏默认的滚动条样式 */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}
.el-main::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

/* 组件内 */
/* plateItem组件 */
.PlateItem-container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  overflow-x: hidden;
}

.PlateItem-title {
  background: var(--primary-theme-lightblue);
  height: 60px;
  line-height: 60px;
  font-size: 1rem;
  font-weight: 550;
  color: var(--primary-text);
  padding-left: 1.2rem;
  letter-spacing: 2px;
}

.PlateItem-content {
  width: 100%;
  min-height: 480px;
  background-color: var(--grid-bg);
  background-image: linear-gradient(to right, var(--grid-stripe) 1px, transparent 0),
      linear-gradient(to bottom,var(--grid-stripe) 1px, transparent 0);
  background-size: 26px 26px;
}
/* card-icon组件内的卡片样式 */
.Card-container {
  width: 60%;
  height: 100%;
  margin: 4% auto;
  padding: 1.8% 2% 3.8% 2%;
  background: var(--primary-theme-white);
  box-shadow: var(--primary-text-grey) 0 0 10px;
}
.Card-title {
  color: var(--primary-text-black);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  padding: 0.76rem 0;
}

.Card-icon-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.Card-icon-group img {
  height: 10%;
  width: 10%;
  max-width: 60px;
  max-height: 60px;
}
/* textcard中的表格设置 */
.grid-container{
  width: 80%;
  height: 100%;
  margin: 4% auto;
  padding: 1.8% 2% 3.8% 2%;
}
/* el组件自定义 */
.el-divider--horizontal {
  margin: 10px 0;
  }

:root {
  --footer-ic-home-active: url('/icon/footer/ic_home_active@3x.png');
  --footer-ic-hotel-active: url('/icon/footer/ic_hotel_active@3x.png');
  --footer-ic-property-active: url('/icon/footer/ic_property_active@3x.png');
  --footer-ic-my-info-active: url('/icon/footer/ic_my_info_active@3x.png');
}

/* 
  深色主题配色 
*/
:root[theme="light"] {
  /* 系统中主题蓝色 */
  --primary-theme-blue: #0984e3;
  --primary-theme-lightblue: #74b9ff;
  --primary-theme-white: #fff;
  --primay-theme-grey: #efefef;
  /* 系统中常用的tag的颜色 */
  --primary-tag-green: #00b894;
  --primary-tag-red: #d63031;
  --primary-tag-yellow: #ffcc00;
  --primary-tag-orange: #D77C28;
  --primary-tag-lightorange: #FCF6EC;
  --primary-tag-lightgreen: #ECF6F4;
  /* 系统中背景颜色 */
  --primary-bg-white: #fcfcfc;
  --primary-bg-greywhite: #f1f1f1;

  --grid-bg: #fcfcfc;
  --grid-stripe: #3c0a1e0a;
  /* 系统中文字颜色 */
  --primary-text: #fafafa;
  --primary-text-skyblue: #007FFF;
  --primary-text-blue: #3398FF;
  --primary-text-greyblue: #4A7CAF;
  --primary-text-black: #222222;
  --primary-text-grey: #ccc;
  --primary-text-organe: #ff9200;
  --primary-text-yellow:#ffbf00;
  /* 系统中图标颜色 */
  --primary-icon-grey: #757575;

  --footer-ic-home-active: url('/icon/footer/ic_home_active@3x.png');
  --footer-ic-hotel-active: url('/icon/footer/ic_hotel_active@3x.png');
  --footer-ic-property-active: url('/icon/footer/ic_property_active@3x.png');
  --footer-ic-my-info-active: url('/icon/footer/ic_my_info_active@3x.png');
}


/* 
    浅色主题配色 
  */
:root[theme="dark"] {
  /* 系统中主题蓝色 */
  --primary-theme-blue: #151F30;
  --primary-theme-lightblue: #2C3544;
  --primary-theme-white: #5B626E;
  --primay-theme-grey: #efefef;
  /* 系统中常用的tag的颜色 */
  --primary-tag-green: #00b894;
  --primary-tag-red: #d63031;
  --primary-tag-yellow: #ffcc00;
  --primary-tag-orange: #D77C28;
  --primary-tag-lightorange: #FCF6EC;
  --primary-tag-lightgreen: #ECF6F4;
  /* 系统中背景颜色 */
  --primary-bg-white: #fcfcfc;
  --primary-bg-greywhite: #f1f1f1;

  --grid-bg: #434B59ff;
  --grid-stripe: #7278824f;
  /* 系统中文字颜色 */
  --primary-text: #e0e0e0;
  --primary-text-skyblue: #007FFF;
  --primary-text-blue: #7eacda;
  --primary-text-greyblue: #8291a0;
  --primary-text-black: #b6b6b6;
  --primary-text-grey: #ccc;
  --primary-text-organe: #ca9754;
  --primary-text-yellow:#d4bb6e;
  /* 系统中图标颜色 */
  --primary-icon-grey: #757575;

  --footer-ic-home-active: url('/icon/footer/ic_home_active@3x.png');
  --footer-ic-hotel-active: url('/icon/footer/ic_hotel_active@3x.png');
  --footer-ic-property-active: url('/icon/footer/ic_property_active@3x.png');
  --footer-ic-my-info-active: url('/icon/footer/ic_my_info_active@3x.png');

}